
body {
    height: 100vh;
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#root {
    height: 100%;
    position: relative;
}

.flex {
    display: flex;
}

.flex-item-center {
    align-items: center;
}

.content-around {
    justify-content: space-around;

}

.content-between {
    justify-content: space-between;

}

.direction-column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.m-l-20 {
    margin-left: 20px;
}

.error-text {
    color: red;
}
